.exitAccaunt {
    position: fixed;
    top: 20%;
    left: 38%;
    z-index: 2;
    padding: 50px;

    border-radius: 10px;
    background-color: var(--modul-bg-color);
}
.exitAccaunt h2 {
    margin-bottom: 20px;
    font-size: 20px;
    align-items: center;
    text-align: center;
}
.boxButton {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.boxButton button{
    padding: 8px 20px;
    font-size: 15px;

    border-radius: 100px;
    background-color: var(--button-color);
}
/* --user-color: #1889C8;

--main-bg-color: #ffffff;
--main-bg-hover: #e0e0e0;
--text-color: #000000;
--button-color: #d4d4d4;

--card-film: #d2d2d2;
--deep-color: #dfdfdf;
--icon-them-color: #000000; */
