.loginButtons {
    padding: 5px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.singIn {
    padding: 15px 25px;
}
.register {
    padding: 15px 25px;
    background-color: var(--user-color);
    border-radius: 50px;
}