.darkTheme {
  /* --user-color: #1889C8; */
  --text-color: #ffffff;
  --background-color: #1a1a1a;
  --ultra-theme-color: #111111;
  --normal-theme-color: #3E3E3E;
  --medium-theme-color: #202020;
}
.lightTheme {
  /* --user-color: #1889C8; */
  --text-color: #000000;
  --background-color: #ffffff;
  --ultra-theme-color: #e7e7e7;
  --normal-theme-color: #d8d8d8;
  --medium-theme-color: #ededed;
}
* {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  text-decoration: none;
  color: var(--text-color);
}
*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-track {
  background-color: var(--background-color, black);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--normal-theme-color);
}

img,
.App > header {
  user-select: none;
}
body {
  background-color: var(--background-color, #fff);
}
input:focus {
  outline: none;
}
.App {
  min-height: 100vh;
  background-color: var(--background-color, #fff);
}
