.userLogin * {
    font-weight: 500;
}
.userLogin {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}
.loginForm {
    z-index: 2;
    padding: 50px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: var(--main-bg-color);
    border-radius: 10px;
}
.headForm {
    text-align: center;
    color: var(--text-color);
}
.textBox {
    margin: 4px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    border-bottom: 3px solid rgb(0, 0, 0);
}
.textBox .textInput {
    padding-left: 20px;
    width: 200px;
    height: 20px;
    outline: none;

    background-color: transparent;
    color: var(--text-color);
}
.textBox .password{
    padding-left: 20px;
    width: 184px;
    height: 20px;
    outline: none;

    background-color: transparent;
    color: var(--text-color);
}
.loginForm img {
    padding: 10px 0px;
    width: 15px;
    height: 15px;
    user-select: none;
}
.linkButton {
    margin-left: 10px;
    font-size: 11px;
    font-weight: 600;
    color: var(--user-color);
}
.sendButton {
    margin-top: 10px;
    margin-left: 170px;
    padding: 8px;
    width: 80px;
    background-color: var(--user-color);
    color: var(--text-color);
    border-radius: 20px;
}
.hideBox {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    backdrop-filter: blur(10px);
}
.sendButton:disabled {
    background-color: var(--button-color);
}
.passwordEyes {
    width: 20px;
    height: 20px;
    user-select: none;
}
.incorrect{
    text-decoration: underline overline #FF3028;
}
.errorText {
    position: absolute;
    font-size: 10px;
    margin-top: 36px;
    margin-left: 0px;
    padding: 0 10px;
    color: red;
    background-color: var(--main-bg-color);
}