header {
    margin: 0;
    padding: 1vw 0;
    width: auto;
    height: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--background-color);
}
.mainLogo {
    position: absolute;
    margin: 0;
    border: 0;
    border-radius: 100%;
    padding: 0;
    width: 4vw;
}