<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home 808</title>
</head>
<body>
    <nav class="nav-menu">
        <ul>
            <li>
                <a href="#">
                    <img class="nav-svg" src="/image/icon/home.svg" alt="Home">
                </a>
            </li>
            <li>
                <a href="#game">
                    <img class="nav-svg" src="/image/icon/game-controller.svg" alt="Home">
                </a>
            </li>
        </ul>
        <form action="pop" method="get">
            <button >pop</button>
        </form>
        {{!-- <a href="/pop">pop</a> --}}
        <ul>
            <li>
                <img class="nav-svg" src="/image/icon/person-account-circle.svg" alt="Home">
            </li>
            <li>
                <img class="nav-svg" src="/image/icon/setting.svg" alt="Home">
            </li>
        </ul>
    </nav>
    <header class="header">
        <h1>Welcome to website 808</h1>
    </header>
    <main>
        <section class="bar-news">
            {{!-- <div>gsytj</div> --}}
        </section>
        <section>
            <a name="game"></a>
            <h2 class="box-name">Games</h2>
            <div class="grid-boxs">
                {{!-- row --}}
                <div class="boxs-row">

                    <div class="box-content">
                        <img src="/image/img/Scrap_Mechanic_Screenshot_2023.02.06_-_16.10.19.97.png" alt="">
                        <div class="box-info">
                            <h2 class="box-info-name">Name hrgk</h2>
                            <p class="box-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aut aliquam harum  voluptas. Corporis dicta rem itaque, eveniet velit delectus molestias nulla quaerat odit explicabo ipsa, labore aut  placeat distinctio.</p>
    
                        </div>
                    </div>
                    <div class="box-content">
                        <img src="/image/img/image.png" alt="">
                        <div class="box-info">
                            <h2 class="box-info-name">Name hrgk</h2>
                            <p class="box-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aut aliquam harum  voluptas. Corporis dicta rem itaque, eveniet velit delectus molestias nulla quaerat odit explicabo ipsa, labore aut  placeat distinctio.</p>
                        </div>
                    </div>
                    <div class="box-content">
                        <img src="/image/img/image.png" alt="">
                        <div class="box-info">
                            <h2 class="box-info-name">Name hrgk</h2>
                            <p class="box-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aut aliquam harum  voluptas. Corporis dicta rem itaque, eveniet velit delectus molestias nulla quaerat odit explicabo ipsa, labore aut  placeat distinctio.</p>
                        </div>
                    </div>
                </div>
                {{!-- row --}}
                <div class="boxs-row">
                    <div class="box-content">
                        <img src="/image/img/image.png" alt="">
                        <div class="box-info">
                            <h2 class="box-info-name">Name hrgk</h2>
                            <p class="box-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aut aliquam harum  voluptas. Corporis dicta rem itaque, eveniet velit delectus molestias nulla quaerat odit explicabo ipsa, labore aut  placeat distinctio.</p>
                        </div>
                    </div>
                    <div class="box-content">
                        <img src="/image/img/dev-25.png" alt="">
                        <div class="box-info">
                            <h2 class="box-info-name">Name hrgk</h2>
                            <p class="box-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aut aliquam harum  voluptas. Corporis dicta rem itaque, eveniet velit delectus molestias nulla quaerat odit explicabo ipsa, labore aut  placeat distinctio.</p>
                        </div>
                    </div>
                    <div class="box-content">
                        <img src="/image/img/image.png" alt="">
                        <div class="box-info">
                            <h2 class="box-info-name">Name hrgk</h2>
                            <p class="box-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aut aliquam harum  voluptas. Corporis dicta rem itaque, eveniet velit delectus molestias nulla quaerat odit explicabo ipsa, labore aut  placeat distinctio.</p>
                        </div>
                    </div>
                </div>
                {{!-- row --}}
                <div class="boxs-row">
                    <div class="box-content">
                        <img src="/image/img/Scrap_Mechanic_Screenshot_2023.02.06_-_16.10.19.97.png" alt="">
                        <div class="box-info">
                            <h2 class="box-info-name">Name hrgk</h2>
                            <p class="box-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aut aliquam harum  voluptas. Corporis dicta rem itaque, eveniet velit delectus molestias nulla quaerat odit explicabo ipsa, labore aut  placeat distinctio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="ftr-author">
            <img src="/image/img/808.jpg" alt="">
            <h2>808`s Live</h2>
        </div>
        <div>
            {{!-- <p>About us</p> --}}
        </div>
    </footer>
</body>
</html>