<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Home 808</title>
</head>
<body>
    <main>
        <section>
            <form action="register" method="post">
                <label for="name">username</label>
                <input type="text" id="name" name="name"  required minlength="4" maxlength="20">
                <label for="email">email</label>
                <input type="text" id="email" name="email"  required>
                <label for="password">password</label>
                <input type="text" id="password" name="password"  required>

                <button>g</button>
            </form>
        </section>
    </main>
</body>
</html>