.collectionCards {
    padding: 40px 0 80px 0;
    width: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 200px);
    gap: 20px;
}
.error {
    position: absolute;
    margin-left: 46%;
    margin-right: 40%;
}